
<div class="row">
    <div class="col-sm-12 text-center"> 
        <h1>Clients</h1>  
    </div>
</div>

<!-- Create Client Modal -->
<div id="newClientModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
          
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-image: linear-gradient(to right, black , white);">
                    <!-- &times; is a key for "X" in corner -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: white;"> New Client </h4>
                </div>

                <!-- added row class to keep modal footer at bottom -->
                <div class="modal-body row">
                    <form name="createForm">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="firstNameInput">First Name</label>
                                <input ng-required="true" type="text" ng-model="createForm.firstName" class="form-control" id="firstNameInput" placeholder="John">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lastNameInput">Last Name</label>
                                <input type="text" ng-model="createForm.lastName" class="form-control" id="lastNameInput" placeholder="Doe">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="inputAddress">Address</label>
                            <input ng-required="true" type="text" ng-model="createForm.address" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="inputCity">City</label>
                                <input ng-required="true" type="text" ng-model="createForm.city" class="form-control" id="inputCity" placeholder="Charlotte">
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="inputState">State</label>
                                <select ng-required="true" id="inputState" class="form-control" ng-model="createForm.state" ng-init="createForm.state = 'Choose...'" >
                                    <option selected>Choose...</option>
                                    <option ng-repeat="state in resources.US_States.data" value="{{ state.abbreviation }}">{{state.name}}</option>
                                </select>
                            </div>

                            <div class="form-group col-sm-2">
                                <label for="inputZip">Zip</label>
                                <input ng-required="true" type="text" ng-model="createForm.zip" class="form-control" id="inputZip" placeholder="12345">
                            </div>
                        </div>

                        <div class="form-row">
                                <div class="form-group col-sm-6">
                                        <label for="inputPhone">Phone Number</label>
                                        <input type="tel" ng-model="createForm.phoneNumber" class="form-control" id="inputPhone" placeholder="(777) 888-9999" maxlength="10">
                                </div>
                                <div class="form-group col-sm-6">
                                        <label for="inputEmail">Email</label>
                                        <input ng-required="true" type="email" ng-model="createForm.email" class="form-control" id="inputEmail" placeholder="john.doe@email.com">
                                </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">              
                    <button ng-disabled="createForm.$invalid || createForm.state === 'Choose...'" type="button" class="btn btn-default btn-primary" ng-click="createClient()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
          
        </div>
    </div>

<!-- Update Client Modal -->
<div id="updateClientModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-image: linear-gradient(to right, black , white);">
                <!-- &times; is a key for "X" in corner -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white;"> Update Client </h4>
            </div>
            <div class="modal-body row">
                <form name="updateForm">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="firstNameInput">First Name</label>
                            <input ng-required="true" type="text" ng-model="updateForm.firstName" class="form-control" id="firstNameInput">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="lastNameInput">Last Name</label>
                            <input type="text" ng-model="updateForm.lastName" class="form-control" id="lastNameInput">
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="inputAddress">Address</label>
                        <input ng-required="true" type="text" ng-model="updateForm.address" class="form-control" id="inputAddress">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="inputCity">City</label>
                            <input ng-required="true" type="text" ng-model="updateForm.city" class="form-control" id="inputCity">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="inputState">State</label>
                            <select ng-required="true" id="inputState" class="form-control" ng-model="updateForm.state" ng-init="updateForm.state = 'Choose...'" >
                                <option selected>Choose...</option>
                                <option ng-repeat="state in resources.US_States.data" value="{{ state.abbreviation }}">{{state.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-2">
                            <label for="inputZip">Zip</label>
                            <input ng-required="true" type="text" ng-model="updateForm.zip" class="form-control" id="inputZip">
                        </div>
                    </div>

                    <div class="form-row">
                            <div class="form-group col-sm-6">
                                    <label for="inputPhone">Phone Number</label>
                                    <input type="tel" ng-model="updateForm.phoneNumber" class="form-control" id="inputPhone" maxlength="10">
                            </div>
                            <div class="form-group col-sm-6">
                                    <label for="inputEmail">Email</label>
                                    <input ng-required="true" type="email" ng-model="updateForm.email" class="form-control" id="inputEmail">
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="pull-left btn btn-default btn-danger" data-toggle="modal" data-target="#confirmDelete">Delete</button>
                <button type="button" class="btn btn-default pull-left" ng-click="resetForm()" ng-disabled="!updateForm.$dirty">Reset</button>
                <button ng-disabled="updateForm.$invalid || updateForm.state === 'Choose...'" type="button" class="btn btn-default" ng-click="updateClient()">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
      
    </div>
</div>

<!-- Deletion Confirmation Modal -->
<div id="confirmDelete" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
          
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center" style="background-color:black;">
                    <h4 class="modal-title" style="color:white;">Confirm Delete</h4>
                </div>
                <div class="modal-body text-center">
                    Projects and quotes will be deleted.
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-danger" ng-click="deleteClient()">Confirm Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>  
                </div>
            </div>
          
        </div>
</div>


<div class="row">
    <div class="col-sm-12">&nbsp;</div>
</div>


<table class="table table-hover display" id="clientGrid" style="width:100%; display:none;">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr id="{{$index}}" ng-dblclick="updateClientModal(client, $index)" ng-repeat="client in clientsArr.clients">
            <td>{{ client.firstName }}</td>
            <td>{{ client.lastName }}</td>
            <td>{{ client.fullAddress }}</td>
            <td>{{ client.phoneNumber }}</td>
            <td>{{ client.email }}</td>
        </tr>
    </tbody>
</table> 