
<div class="col-sm-12 text-center">
    <h1 style="font-family: 'Pacifico', cursive;"> Welcome to </h1>

    <div class="col-sm-8">
        <div class="pull-right" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:40px;"> Work Assistant </div>
        <img class="pull-right" src="../photos/paintbrush.jpeg" alt="Paint Brush" height="50" width="60">
    </div>

</div>

<div class="col-sm-12 text-center" style="margin-top:50px;">
    <h3> A web application for tracking project timelines, revenue, and generating quotes for clients. </h3>
</div>

<div class="col-sm-12 text-center" style="margin-top:100px;">
    <div class="card col-sm-4" >
        <img src="../photos/addressBook.png" class="card-img-top" alt="Address Book" height="200" width="200">
            <div class="card-body">
                <h5 class="card-title">Record Client Information</h5>
                <p class="card-text">Maintain a client address book.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
    </div>

    <div class="card col-sm-4" >
        <img src="../photos/projects.png" class="card-img-top" alt="Projects" height="200" width="200">
            <div class="card-body">
                <h5 class="card-title">Create Projects</h5>
                <p class="card-text">Mark down the start of a new project. </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
    </div>

    <div class="card col-sm-4" >
        <img src="../photos/quotes.png" class="card-img-top" alt="Quotes" height="200" width="200">
            <div class="card-body">
                <h5 class="card-title">Generate Quote PDFs</h5>
                <p class="card-text">Create professional quotes to send to your clients.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
    </div>
            
            
            
</div>



<!-- 
<h2> Home </h2>

<div>
    <h3> Quick Tools </h3>

    <ul>
        <li> Create Quote as Guest (don't save client info): &nbsp;
            <button type="button" class="btn btn-success">Create Quote</button> 
        </li>
    </ul>

</div> -->