
<div class="row">
    <div class="col-sm-12 text-center"> 
        <h1>Projects</h1>  
    </div>
</div>
    
<!-- Create Project Modal -->
<div id="newProjectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- &times; is a key for "X" in corner -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Project</h4>
                </div>
                <div class="modal-body">
                    <form name="createForm">
                        Client ID: &nbsp; 
                        <select ng-model="createForm.clientId">
                            <option ng-repeat="x in clientsArr.clients" value="{{ x._id }}"> {{ x.fullName }} </option>
                        </select>
                        <br> <br>
                        Description: &nbsp; 
                        <input type="text" ng-model="createForm.description">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="createProject()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
          
        </div>
</div>

<!-- Update Project Modal -->
<div id="updateProjectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- &times; is a key for "X" in corner -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Project</h4>
                </div>
                <div class="modal-body">
                    <form name="updateForm">
                        Client ID: &nbsp; 
                        <span> {{updateForm.clientName}} </span>
                        <br> <br>
                        Description: &nbsp; 
                        <span> {{updateForm.description}} </span>
                        <br> <br>
                        Create Quote: &nbsp; 
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#quoteModal">Create</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="createProject()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
          
        </div>
</div>

<!-- Quote Creation Modal -->
<div id="quoteModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Quote</h4>
                </div>
                <div class="modal-body text-center">
                    <form name="quoteForm">
                        <div>
                            Client Full Name: {{quoteForm.fullName}}
                        </div>
                        <div>
                            Client Address: {{quoteForm.address}}
                        </div>
                        <div>
                            Client Email: {{quoteForm.email}}
                        </div>
                        <div>
                            Description: &nbsp; 
                            <input type="text" ng-model="quoteForm.description"> &nbsp; &nbsp;
                            Cost: &nbsp;
                            <input type="text" ng-model="quoteForm.cost">
                        </div>
                        <div>
                            Notes: &nbsp; 
                            <input type="text" ng-model="quoteForm.notes">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" ng-click="createQuote()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>  
                </div>
            </div>
          
        </div>
</div>
  

<div class="row">
    <div class="col-sm-12">&nbsp;</div>
</div>
    
<!-- hide table until DOM is set up -->
<table class="table table-hover display" id="projectGrid" style="width:100%; display:none;">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Client Name</th>
        </tr>
    </thead>
    <tbody>
        <tr id="{{$index}}" ng-dblclick="updateProjectModal(project, $index)" ng-repeat="project in projectsArr.projects">
            <td>{{ project._id }}</td>
            <td>{{ getClientInfo(project.clientId).fullName }}</td>
        </tr>
    </tbody>
</table> 
    