
<div class="row">
    <div class="col-sm-12 text-center"> 
        <h1>Projects</h1>  
    </div>
</div>
    
<!-- Create Project Modal -->
<div id="newProjectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- &times; is a key for "X" in corner -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Project</h4>
                </div>
                <div class="modal-body row">
                    <form name="createForm">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                    <label for="inputClientId">Client</label>
                                    <select id="inputClientId" class="form-control" ng-model="createForm.clientId" ng-init="createForm.clientId = 'Choose...'">
                                            <option selected>Choose...</option>
                                            <option ng-repeat="client in clientsArr.clients" value="{{ client._id }}">{{client.fullName + ' — ' + client.fullAddress}}</option>
                                    </select>
                            </div>
                            <div class="form-group col-sm-12">
                                    <label for="inputDescription">Brief Description</label>
                                    <textarea class="form-control" rows="7" id="inputDescription" ng-model="createForm.description" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-primary" ng-click="createProject()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
          
        </div>
</div>

<!-- Update Project Modal -->
<div id="updateProjectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- &times; is a key for "X" in corner -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Project</h4>
                </div>
                <div class="modal-body row">
                        <form name="updateForm">
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                            <label for="inputClientId">Client</label>
                                            <select id="inputClientId" class="form-control" ng-model="updateForm.clientId" ng-init="updateForm.clientId = 'Choose...'" ng-disabled="true">
                                                    <option selected>Choose...</option>
                                                    <option ng-repeat="client in clientsArr.clients" value="{{ client._id }}">{{client.fullName + ' — ' + client.fullAddress}}</option>
                                            </select>
                                    </div>
                                    <div class="form-group col-sm-12">
                                            <label for="inputDescription">Brief Description</label>
                                            <textarea class="form-control" rows="7" id="inputDescription" ng-model="updateForm.description" style="resize: none;"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12">
                                            <label for="inputDescription">Create Quote</label>
                                            <div>
                                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#quoteModal">Create</button>  
                                            </div>                                 
                                     </div>
                                </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="createProject()">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
          
        </div>
</div>

<!-- Quote Creation Modal -->
<div id="quoteModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Quote</h4>
                </div>
                <div class="modal-body row">
                    <form name="quoteForm">
                        <div class="form-row">
                            <div class="form-group col-sm-12" style="background-image: linear-gradient(to right, black , white);">
                                <h4 style="color: white;"> Client Information </h4>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="firstNameInput">First Name</label>
                                        <input type="text" ng-model="currentClient.firstName" class="form-control" id="firstNameInput">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="lastNameInput">Last Name</label>
                                        <input type="text" ng-model="currentClient.lastName" class="form-control" id="lastNameInput">
                                    </div>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <label for="inputAddress">Address</label>
                                <input type="text" ng-model="currentClient.address" class="form-control" id="inputAddress">
                            </div>
        
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" ng-model="currentClient.city" class="form-control" id="inputCity">
                                </div>
    
                                <div class="form-group col-sm-4">
                                    <label for="inputState">State</label>
                                    <select id="inputState" class="form-control" ng-model="currentClient.state" ng-init="currentClient.state = 'Choose...'" >
                                        <option selected>Choose...</option>
                                        <option ng-repeat="state in resources.US_States.data" value="{{ state.abbreviation }}">{{state.name}}</option>
                                    </select>
                                </div>
    
                                <div class="form-group col-sm-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" ng-model="currentClient.zip" class="form-control" id="inputZip">
                                </div>
                            </div>
        
                            <div class="form-row">
                                    <div class="form-group col-sm-6">
                                            <label for="inputPhone">Phone Number</label>
                                            <input type="tel" ng-model="currentClient.phoneNumber" class="form-control" id="inputPhone" maxlength="10">
                                    </div>
                                    <div class="form-group col-sm-6">
                                            <label for="inputEmail">Email</label>
                                            <input type="email" ng-model="currentClient.email" class="form-control" id="inputEmail">
                                    </div>
                            </div>
                        </div>

                        <div class="col-sm-12">&nbsp;</div>

                        <div class="form-row">
                            <div class="form-group col-sm-12" style="background-image: linear-gradient(to right, black , white);">
                                <h4 style="color: white;"> Items </h4>
                            </div>
                        </div>
                        <div class="form-row" ng-repeat="quoteItem in quoteItemsArr">
                            <div class="form-group col-sm-6">
                                    <label for="inputNote">Description</label>
                                    <input type="text" ng-model="quoteItem.name" class="form-control" id="inputCity">                                
                            </div>
                            <div class="form-group col-sm-1">
                                    <label for="inputNote">Quantity</label>
                                    <input type="text" ng-model="quoteItem.quantity" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-sm-2">
                                    <label for="inputNote">Rate</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control" ng-model="quoteItem.unit_cost">
                                    </div>
                                    <!-- <input type="text" ng-model="" class="form-control" id="inputCity"> -->
                            </div>
                            <div class="form-group col-sm-2">
                                    <label for="inputNote">Amount</label>
                                    <textarea class="form-control" rows="1" id="inputNotes" style="resize: none;">{{quoteItem.quantity * quoteItem.unit_cost | currency}}</textarea>
                                    <!-- <input type="text" class="form-control" id="inputCity"> -->
                            </div>
                            <div ng-if="quoteItemsArr.length > 1" class="form-group col-sm-1 text-center row" style="padding-top:30px;">
                                <button type="button" class="close" ng-click="removeItem(this)">&times;</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <button type="button" class="btn btn-default btn-primary" ng-click="addItem()">&#43; Add Item</button>
                            </div>
                            <h4 class="form-group col-sm-2 pull-right">Total: {{getTotal() | currency}}</h4>
                        </div>

                        <div class="col-sm-12">&nbsp;</div>

                        <div class="form-row">
                            <div class="form-group col-sm-12" style="background-image: linear-gradient(to right, black , white);">
                                <h4 style="color: white;"> Additional Information </h4>
                            </div>
                            <div class="form-group col-sm-12">
                                    <label for="inputNotes">Notes</label>
                                    <textarea class="form-control" rows="4" id="inputNotes" ng-model="quoteForm.notes" style="resize: none;"></textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                    <label for="inputTerms">Terms</label>
                                    <textarea class="form-control" rows="4" id="inputTerms" ng-model="quoteForm.terms" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="createQuote()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
          
        </div>
</div>
  

<div class="row">
    <div class="col-sm-12">&nbsp;</div>
</div>
    
<!-- hide table until DOM is set up -->
<table class="table table-hover display" id="projectGrid" style="width:100%; display:none;">
    <thead>
        <tr>
            <th>Create Date</th>
            <th>Client Name</th>
            <th>Address</th>
            <th>Brief Description</th>
        </tr>
    </thead>
    <tbody>
        <tr id="{{$index}}" ng-dblclick="updateProjectModal(project, $index)" ng-repeat="project in projectsArr.projects">
            <td>{{ project.createDate | date : "medium" }}</td>
            <td>{{ getClientInfo(project.clientId).fullName }}</td>
            <td>{{ getClientInfo(project.clientId).fullAddress }}</td>
            <td>{{ project.description }}</td>
        </tr>
    </tbody>
</table> 
    